.main__footer {
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-left: 27%;
}

.col {
  float: left;
  width: auto;
  padding:20px;
}

.footer__rows {
  content: "";
  display: table;
  clear: both;
}

.list__unstyled {
  text-align: left;
  white-space: nowrap;
  text-overflow: nowrap;
  list-style: none;
}
.col h4{
  margin: 0px 0px 20px 40px;
}
.col ul{
  list-style: none;
}
.col ul>li{
  padding: 0px 0px 5px 0px;
}
